@model ComicsLibrary.Models.Library.LibraryDetailViewModel
@{ 
    ViewBag.Title = Model.Name;
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Library Information</h2>
    </div>
    <div class="jumbotron">
        <h2>@Model.Name</h2>
        
        <div class="row libraryInfo">
            <div class="col-md-6">
                <div class="row">
                    <img class="library-image" src="@Model.ImageUrl" />
                </div>
                <div>
                    <div class="libraryContact">
                        <div id="libraryAddress">Address: @Model.Address</div>
                        <div id="libraryTel">Telephone: @Model.Telephone</div>
                    </div>
                    <table>
                        <tr>
                            <td class="itemLabel">Date Opened: </td>
                            <td class="itemValue">@Model.OpenDate</td>
                        </tr>
                        <tr>
                            <td class="itemLabel">Number Of Customers: </td>
                            <td class="itemValue">@Model.NumberOfCustomers</td>
                        </tr>
                        <tr>
                            <td class="itemLabel">Number of Comics: </td>
                            <td class="itemValue">@Model.NumberOfComics</td>
                        </tr>
                        <tr>
                            <td class="itemLabel">Value of Comics: </td>
                            <td class="itemValue">$@Model.TotalComicsValue</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 detailInfo">
                <div id="libraryDescription">
                    <p class="caption">@Model.Description</p>
                </div>

                <div id="libraryHours">
                    <ul>
                        @foreach (var day in @Model.HoursOpen)
                        {
                            <li>@day</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
